<div class="list" ng-show="state.is('detalle.temporada')">
		<a class="item" ui-sref="detalle.temporada.capitulo({capitulo: {{$index + 1}}})"
		ng-repeat="capitulo in capitulos">
			<h2>{{capitulo.descripcion}}</h2>
		</a>
</div>
<div ui-view ></div>
