<ion-view title="Temporadas" class="padding" >
  <ion-content>
  	<div class="list" ng-show="state.is('detalle')">
  			<a class="item" ui-sref="detalle.temporada({numtemporada: {{$index + 1}}})"
  			ng-repeat="temporada in temporadas">
  				<h2>{{temporada.descripcion}}</h2>
  			</a>
  	</div>
  	<div ui-view></div>
	</ion-content>
</ion-view>      

