<ion-view title="ISeries" class="padding">
  <ion-content>
  	<div class="list">
  			<a class="item" ui-sref="detalle({seriecode: '{{serie.code}}'})"
  			ng-repeat="serie in series">
  				<h2>{{serie.nombre}}</h2>
  			</a>
  	</div>
	</ion-content>
</ion-view>      

