<div class="list">
		<div class="item item-button-right" 
			ng-repeat="servidor in servidores">
    	<h2>{{capitulo.descripcion}}</h2>
      <div class="row">
			  <div class="col">Castellano: {{servidor.castellano ? 'Si' : 'No'}} </div>
			  <div class="col">Servidor: {{servidor.plataforma}}</div>
			</div>
	    <button ng-if="!servidor.showVideo" 
	    class="button button-stable" ng-click="obtenerVideo(servidor)">
	      <i class="icon ion-arrow-down-b"></i>
	    </button>
	    <a class="button button-positive" ng-if="servidor.showVideo" target="blank" href="{{servidor.video}}">
	    	<i class="icon ion-play"></i>
	    </a>
	  </div>
</div>