doctype html
html
  head
    title= 'ISeries'

    meta(name='referrer',content='never')
    meta(name='viewport',content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    link(rel='stylesheet',type='text/css',href='/css/ionic.min.css')
    

    script(type='text/javascript', src='/js/ionic.bundle.min.js')
    script(type='text/javascript', src='/scripts/app.js')
    script(type='text/javascript', src='/scripts/directives.js')
    script(type='text/javascript', src='/scripts/controllers.js')

  body(ng-app='iseries')
    ion-nav-bar.nav-title-slide-ios7.bar-calm
      ion-nav-back-button.button-icon.ion-arrow-left-c
             
    ion-nav-view(animation='slide-left-right')
    

    //ion-pane
    //  ion-header-bar.bar.bar-header.bar-calm
    //    h1.title ISeries
    //  ion-content.has-header
    //    div.list
    //      a.item(href='#')
    //        //img(src='http://s.seriespepito.com/series/1267-once-upon-a-time-erase-una-vez-thumb.jpg')
    //        h2 Once upon a time




    //div(ui-view)


    


    